@charset "UTF-8";
/* h1 {
    background-color: #cab8d9;
} */

.head-btn {
    display: flex;
    gap:15px;
}

.btn {
    background-color: #f19ca7;
    border: 1px solid #e95464;
    padding: 10px 15px;
    font-size: 15px;
    display: flex;
    justify-content: center;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center; 
    height: 100px;
    padding:20px 20px 5px 5px;
    background-color: #cab8d9;
}

.login-form {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;         
    padding: 20px;
    justify-content: space-between;
}

label {
    font-size: 20px;
}

#regist {
    display: flex;
    align-self: center;
}