<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<title>振休申請確認</title>
	<link rel="stylesheet" href="style.css">
</head>

<body>
	<div class="header">
		<div class="head-title">
			<img src="Smart_2.png" alt="ロゴ">
			<h1>振休申請確認</h1>
		</div>
		<div class="head-btn">
			<form th:action="@{/menu}" method="POST" th:object="${loginUser}">
				<input type="hidden" th:field="*{login_emp_id}">
				<input type="hidden" th:field="*{dep_id}">
				<input type="hidden" th:field="*{permission}">
				<input type="submit" value="Menu" class="h-btn">
			</form>

			<form th:action="@{/}" method="GET">
				<input type="submit" value="Logout" class="h-btn">
			</form>
		</div>
	</div>

	<div class="page-main">
		<h2>対象日</h2>
		<form th:action="@{/complete-regist-subHoliday}" method="post" th:object="${subHolidayForm}">
			<p class="input-content" th:text="*{record_date}"></p>
			<!-- 確認メッセージ -->
			<div class="confirm-msg">
				<p>まだ、申請は完了しておりません。<br>申請日をお確かめの上、[申請]ボタンを押してください。</p>
			</div>
			<div id="center-btn">
				<input type="hidden" th:field="*{record_date}">
				<input type="hidden" th:field="*{subHolidaysLeft}">
				<input type="submit" value="申請" class="btn">
			</div>
		</form>
		<div id="center-btn2">
			<form th:action="@{/Modoru-regist-subHoliday}" method="post" th:object="${subHolidayForm}">
				<input type="hidden" th:field="*{record_date}">
				<input type="hidden" th:field="*{subHolidaysLeft}">
				<input type="submit" value="戻る" class="btn" id="return-btn">
			</form>
		</div>
	</div>
</body>

</html>