<!DOCTYPE html>
<html lang="ja">

<head>
	<meta charset="UTF-8">
	<title>新規ユーザー登録確認</title>
	<link rel="stylesheet" href="style.css">
</head>

<body>
	<!-- ヘッダー -->
	<div class="header">
		<div class="head-title">
			<img src="Smart_2.png" alt="ロゴ">
			<h1 class="title">新規ユーザー登録確認</h1>
		</div>
		<div class="head-btn">
			<form th:action="@{/menu}" method="POST" th:object="${loginUser}">
				<input type="hidden" th:field="*{login_emp_id}">
				<input type="hidden" th:field="*{login_dep_id}">
				<input type="hidden" th:field="*{login_permission}">
				<input type="submit" value="Menu" class="h-btn">
			</form>

			<form th:action="@{/}" method="GET">
				<input type="submit" value="Logout" class="h-btn">
			</form>
		</div>
	</div>

	<!-- 確認内容表示 -->
	<div class="page-main" th:object="${registUserForm}">
		<div class="userConfirm-form">
			<div class="form-line">
				<label>ID</label>
				<p th:text="*{emp_id}" class="confirm-form"></p>
			</div>
			<div class="form-line">
				<label>名前</label>
				<p th:text="*{emp_name}" class="confirm-form"></p>
			</div>
			<div class="form-line">
				<label>部門</label>
				<p th:switch="*{dep_id}" class="confirm-form">
					<span th:case="10">営業</span>
					<span th:case="20">開発</span>
					<span th:case="30">総務</span>
					<span th:case="*">未設定</span> <!-- 予期しない値のとき -->
				</p>
			</div>
			<div class="form-line">
				<label>Pass</label>
				<p th:text="*{password}" class="confirm-form"></p>
			</div>
			<div class="form-line">
				<label>権限</label>
				<p th:text="*{permission} ? '管理者' : '一般ユーザー'" class="confirm-form"></p>
			</div>

			<!-- 注意メッセージ -->
			<div class="confirm-msg">
				まだ、登録は完了しておりません。<br>
				登録内容をお確かめの上、「登録」ボタンを押してください
			</div>

			<!-- ボタン -->
			<div id="center-btn">
				<form th:action="@{/complete-regist-user}" method="POST" th:object="${registUserForm}">
					<input type="hidden" th:field="*{emp_id}">
					<input type="hidden" th:field="*{emp_name}">
					<input type="hidden" th:field="*{dep_id}">
					<input type="hidden" th:field="*{password}">
					<input type="hidden" th:field="*{permission}">
					<input type="submit" value="登録" class="btn">
				</form>

				<form th:action="@{/return-regist-user}" method="POST" th:object="${loginUser}">
					<input type="hidden" th:field="*{login_emp_id}">
					<input type="hidden" th:field="*{login_dep_id}">
					<input type="hidden" th:field="*{login_permission}">
					<input type="hidden" th:field="${registUserForm.emp_id}">
					<input type="hidden" th:field="${registUserForm.emp_name}">
					<input type="hidden" th:field="${registUserForm.dep_id}">
					<input type="hidden" th:field="${registUserForm.password}">
					<input type="hidden" th:field="${registUserForm.permission}">
					<input type="submit" value="戻る" class="btn" id="return-btn">
				</form>
			</div>
		</div>
	</div>
</body>

</html>