<!DOCTYPE html>
<html lang="ja">

<head>
	<link rel="stylesheet" href="style.css">
	<meta charset="UTF-8">
	<title>勤怠情報更新確認</title>

</head>

<body>
	<!-- ヘッダー -->
	<div class="header">
		<div class="head-title">
			<img src="Smart_2.png" alt="ロゴ">
			<h1 class="title">勤怠情報更新確認</h1>
		</div>
		<div class="head-btn">
			<form th:action="@{/menu}" method="POST" th:object="${loginUser}">
				<input type="hidden" th:field="*{login_emp_id}">
				<input type="hidden" th:field="*{dep_id}">
				<input type="hidden" th:field="*{permission}">
				<input type="submit" value="Menu" class="h-btn">
			</form>

			<form th:action="@{/}" method="GET">
				<input type="submit" value="Logout" class="h-btn">
			</form>
		</div>
	</div>


	<!-- 表 -->
	<div class="page-main" id="table-margin">

		<table class="regist-kintai">
			<thead>
				<tr>
					<th rowspan="2">ID</th>
					<th rowspan="2">名前</th>
					<th rowspan="2">日付</th>
					<th rowspan="2">区分</th>
					<th colspan="2">始業</th>
					<th colspan="2">終業</th>
					<th rowspan="2">労働時間</th>
					<th rowspan="2">休憩時間</th>
					<th rowspan="2">累積超過</th>
				</tr>
				<tr>
					<th>時</th>
					<th>分</th>
					<th>時</th>
					<th>分</th>
				</tr>
			</thead>
			<tbody>
				<tr th:object="${editKintaiForm}">
					<td>
						<p th:text="*{emp_id}"></p>
					</td>
					<td>
						<p th:text="*{emp_name}"></p>
					</td>
					<td>
						<p th:text="*{record_date}"></p>
					</td>
					<td>
						<p th:text="*{shift_ID}"></p>
					</td>
					<td>
						<p th:text="*{start_H}"></p>
					</td>
					<td>
						<p th:text="*{start_M}"></p>
					</td>
					<td>
						<p th:text="*{end_H}"></p>
					</td>
					<td>
						<p th:text="*{end_M}"></p>
					</td>
					<td>
						<p th:text="*{total_workingTime}"></p>
					</td>
					<td>
						<p th:text="*{breakTime}"></p>
					</td>
					<td>
						<p th:text="*{excessTime}"></p>
					</td>
				</tr>
			</tbody>
		</table>
		<!-- 確認メッセージ -->
		<div class="confirm-msg">
			まだ、更新は完了しておりません。<br>
			更新内容をお確かめの上、[更新]ボタンを押してください。
		</div>
		<form th:action="@{/complete-update-kintai}" method="POST" th:object="${editKintaiForm}">
			<div id="center-btn">
				<input type="hidden" th:field="${editKintaiForm.emp_id}">
				<input type="hidden" th:field="*{emp_name}">
				<input type="hidden" th:field="*{record_date}">
				<input type="hidden" th:field="*{shift_ID}">
				<input type="hidden" th:field="*{start_H}">
				<input type="hidden" th:field="*{start_M}">
				<input type="hidden" th:field="*{end_H}">
				<input type="hidden" th:field="*{end_M}">
				<input type="hidden" th:field="*{total_workingTime}">
				<input type="hidden" th:field="*{breakTime}">
				<input type="hidden" th:field="*{excessTime}">
				<input type="submit" value="更新" class="btn">
			</div>
		</form>

		<!-- ボタン -->
		<div id="center-btn">
			<form th:action="@{/edit-kintai}" method="POST">
				<input type="hidden" th:field="${editKintaiForm.emp_id}">
				<input type="hidden" th:field="${editKintaiForm.emp_name}">
				<input type="hidden" th:field="${editKintaiForm.record_date}">
				<input type="hidden" th:field="${editKintaiForm.shift_ID}">
				<input type="hidden" th:field="${editKintaiForm.start_H}">
				<input type="hidden" th:field="${editKintaiForm.start_M}">
				<input type="hidden" th:field="${editKintaiForm.end_H}">
				<input type="hidden" th:field="${editKintaiForm.end_M}">
				<input type="hidden" th:field="${editKintaiForm.total_workingTime}">
				<input type="hidden" th:field="${editKintaiForm.breakTime}">
				<input type="hidden" th:field="${editKintaiForm.excessTime}">
				<div th:object="${loginUser}">
					<input type="hidden" th:name="login_emp_id" th:value="${loginUser.login_emp_id}">
					<input type="hidden" th:name="dep_id" th:value="${loginUser.dep_id}">
					<input type="hidden" th:name="permission" th:value="${loginUser.permission}">
				</div>
				<input type="submit" value="戻る" class="btn" id="return-btn">
			</form>
		</div>
	</div>
</body>

</html>