<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<title>新規ユーザー登録確認</title>
</head>

<body>
	<div class="header">
		<h1>新規ユーザー登録確認</h1>
		<div class="head-btn">
			<form th:action="@{/menu}" method="POST" th:object="${loginUser}">
				<input type="hidden" th:field="*{emp_id}">
				<input type="hidden" th:field="*{dep_id}">
				<input type="hidden" th:field="*{permission}">
				<input type="submit" value="Menu" class="btn">
			</form>

			<form th:action="@{/}" method="GET">
				<input type="submit" value="Logout" class="btn">
			</form>
		</div>
	</div>

	<div class="registuser-container">
		<div class="page-main">
			<div style="display: flex; gap: 20px;" th:object="${registUserForm}">
				<div>
					<label>ID:</label>
					<p th:text="*{emp_id}"></p>
				</div>

				<div>
					<label>名前:</label>
					<p th:text="*{emp_name}"></p>
				</div>

				<div>
					<label>部門:</label>
					<p th:text="*{dep_id}"></p>
				</div>

				<div>
					<label>Pass:</label>
					<p th:text="*{password}"></p>
				</div>

				<div>
					<label>権限:</label>
					<p th:text="*{permission} ? '一般ユーザ' : '管理者'"></p>
				</div>
			</div>

			<form th:action="@{/complete-regist-user}" method="POST" th:object="${registUserForm}" class="center-btn">
				<input type="hidden" th:field="*{emp_id}">
				<input type="hidden" th:field="*{emp_name}">
				<input type="hidden" th:field="*{dep_id}">
				<input type="hidden" th:field="*{password}">
				<input type="hidden" th:field="*{permission}">
				<input type="submit" value="登録実行" class="class-btn">
			</form>
		</div>
</body>

</html>