<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>メインメニュー</title>
</head>

<body>
    <div class="header">
        <h1>メインメニュー</h1>
        <div class="head-btn">
            <input type="button" value="Menu" class="btn">
            <input type="button" value="Logout" class="btn">
        </div>
    </div>

    <div class="page-main">
        <button>勤怠提出</button>
        <button>勤怠情報検索</button>
        <button>有給休暇申請</button>
        <button>振休申請</button>
        <button>新規ユーザー登録</button>
        <button>エクスポート</button>
    </div>
    
</body>
</html>