<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>メインメニュー</title>
</head>

<body>
    <div class="header">
        <h1>メインメニュー</h1>
        <div class="head-btn">
			<form th:action="@{/Menu}" method="POST"th:object="${loginUserForm}" >
				<input type="submit" value="Menu" th:field="*{emp_id}" class="btn">
			</form>
			
			<form th:action="@{/logout}" method="POST">
				<input type="submit" value="Logout" class="btn">
			</form>
        </div>
    </div>
	
	<div class="content">
		<div class="content-btn">
			
			<form th:action="@{/confirm-regist-kintai}" method="POST" th:object="${loginUserForm}">  
				<input type="submit" value="勤怠提出" th:field="*{emp_id}" class="button">
			</form>
	        
			
			<form th:action="@{/search-kintai}" method="POST" th:object="${loginUserForm}">
				<input type="submit" value="勤怠情報検索" th:field="*{emp_id}" class="button">
			</form>
			
			<form th:action="@{/regist-paidHoliday}" method="POST" th:object="${loginUserForm}">
				<input type="submit" value="有休休暇申請" th:field="*{emp_id}" class="button">
			</form>
			
			<form th:action="@{/regist-subHoliday}" method="POST" th:object="${loginUserForm}">
				<input type="submit" value="振休申請" th:field="*{emp_id}" class="button">
			</form>
			
			<form th:action="@{/regist-user}" method="POST" th:object="${loginUserForm}">
				<input type="submit" value="新規ユーザー登録" th:field="*{emp_id}" class="button">
			</form>
			
			<form th:action="@{/export}" method="POST" th:object="${loginUserForm}">
				<input type="submit" value="エクスポート" th:field="*{emp_id}" class="button">
			</form>
		</div>
	</div>
       
    </body>
</html>