<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>勤怠情報登録</title>

<h1 class="title">勤怠情報登録</h1>
<input type="button" value="Menu" class="btn" >
<input type="button" value="Logout" class="btn" >

 <style>
        table {
            border-collapse: collapse;
        }
        th, td {
            border: 1px solid black;
            padding: 5px;
        }
    </style>

</head>
<body>

    <table>
        <tr>
            <th>区分</th>
            <th>始業</th>
            <th>終業</th>
            <th>労働時間</th>
            <th>休憩時間</th>
            <th>累積超過</th>
        </tr>
        <tr>
            <td>
                <select>
            <option value="0">選択してください。</option>
			<option value="10">10:出勤</option>
            <option value="20">20:振出</option>
            <option value="30">30:欠勤</option>
            <option value="80">80:年休</option>
            <option value="90">90:振休</option>
            <option value="99">99:休日</option>
			<!-- 固定のオプション1-5
			<option th:each="option : ${#numbers.sequence(1,5)}" 
				th:value="${option}"
				th:text="${option}"
				th:selected="${option == kintaiClass}" >
			</option> -->
		        </select>
            </td>
            <td>
                <input type="number" placeholder="時"> :
                <input type="number" placeholder="分">
            </td>
            <td>
                <input type="number" placeholder="時"> :
                <input type="number" placeholder="分">
            </td>
            <td>
                <input type="number" placeholder="時間">
            </td>
            <td>
                <input type="number" placeholder="時間">
            </td>
            <td>
                <input type="number" placeholder="時間">
            </td>
        </tr>
    </table>
    <!-- 
    <div th:if="${#fields.hasErrors('kintaiClass')}" th:errors="*{kintaiClass}" class="error-msg"></div>
     -->
    <input type="submit" value="登録" class="btn">

</body>
</html>