<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>振休申請</title>
</head>

<body>
    <div class="header">
        <h1>振休申請</h1>
        <div class="head-btn">
            <input type="button" value="Menu" class="btn">
            <input type="button" value="Logout" class="btn">
        </div>
    </div>
    <h2>対象日</h2>
    <form action="" method="POST" th:object="">
        <input type="date" required>
        <input type="submit" value="申請" class="btn">
    </form>
</body>

</html>