<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>振休申請</title>
	<link rel="stylesheet" href="style.css">
</head>
<script>
	document.addEventListener("DOMContentLoaded", function () {
		const dateInput = document.querySelector("input[type='date']");
		if (dateInput) {
			dateInput.addEventListener("change", function () {
				let val = this.value;
				let date = new Date(val);
				let week = date.getDay();
				if (week == 0 || week == 6) {
					alert("その日は選択できません｡");
					this.value = "";
				}
			});
		}
	});
</script>

<body>
	<div class="header">
		<div class="head-title">
			<img src="Smart_2.png" alt="ロゴ">
			<h1>振休申請</h1>
		</div>
		<div class="head-btn">
			<form th:action="@{/menu}" method="POST" th:object="${loginUser}">
				<input type="hidden" th:field="*{login_emp_id}">
				<input type="hidden" th:field="*{login_dep_id}">
				<input type="hidden" th:field="*{login_permission}">
				<input type="submit" value="Menu" class="h-btn">
			</form>

			<form th:action="@{/}" method="GET">
				<input type="submit" value="Logout" class="h-btn">
			</form>
		</div>
	</div>

	<div class="page-main">
		<div class="remaining-days">
			<p>
				残り振休日数 :
			</p>
			<p th:text="${subHolidayForm.subHolidaysLeft}"></p>
		</div>

		<h2>対象日</h2>
		<form th:action="@{/confirm-regist-subHoliday}" method="POST" th:object="${subHolidayForm}"
			class="Holiday-form">
			<input type="date" id="date" th:field="*{record_date}" required class="select-date"
				th:attr="min=${#dates.format(#dates.createNow(), 'yyyy-MM-dd')}">
			<input type="hidden" th:field="*{subHolidaysLeft}">

			<input type="submit" value="申請" class="btn">
		</form>

		<!-- エラーメッセージ -->
		<div th:if="${msg} != null" class="error-msg">
			<p th:text="${msg}"></p>
		</div>
	</div>
</body>

</html>