<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<title>勤怠情報検索</title>

	<style>
		table {
			border-collapse: collapse;
			width: 100%;
		}

		th,
		td {
			border: 1px solid black;
			padding: 5px;
			text-align: center;
		}
	</style>
</head>

<body>
	<div class="header">
		<h1>勤怠情報検索</h1>
		<div class="head-btn">
			<form th:action="@{/menu}" method="POST" th:object="${loginUser}">
				<input type="hidden" th:field="*{emp_id}">
				<input type="hidden" th:field="*{dep_id}">
				<input type="hidden" th:field="*{permission}">
				<input type="submit" value="Menu" class="btn">
			</form>

			<form th:action="@{/}" method="GET">
				<input type="submit" value="Logout" class="btn">
			</form>
		</div>
	</div>

	<div class="page-main">
		<form th:action="@{/search-result}" method="POST" th:object="${searchConditionForm}">
			<input type="date" th:field="*{date}">
			<select th:field="*{shift_id}">
				<option value="0">区分選択</option>
				<option value="10">10:出勤</option>
				<option value="20">20:振出</option>
				<option value="30">30:欠勤</option>
				<option value="80">80:年休</option>
				<option value="90">90:振休</option>
				<option value="99">99:休日</option>
			</select>
			<input type="submit" value="検索" class="btn">
		</form>

		<table>
			<thead>
				<tr>
					<th rowspan="2">ID</th>
					<th rowspan="2">名前</th>
					<th rowspan="2">日付</th>
					<th rowspan="2">区分</th>
					<th colspan="2">始業</th>
					<th colspan="2">終業</th>
					<th rowspan="2">労働時間</th>
					<th rowspan="2">休憩時間</th>
					<th rowspan="2">累積超過</th>
				</tr>
				<tr>
					<th>時</th>
					<th>分</th>
					<th>時</th>
					<th>分</th>
				</tr>
			</thead>
			<div th:if="${searchResult_list} != null">
				<tr th:each="searchResult : ${searchResult_list}">
					<td th:text="${searchResult.emp_id}"></td>
					<td th:text="${searchResult.emp_name}"></td>
					<td th:text="${#dates.format(searchResult.record_Date, 'yyyy-MM-dd')}"></td>
					<td th:text="${searchResult.shift_id}"></td>
					<td th:text="${searchResult.start_H}"></td>
					<td th:text="${searchResult.start_M}"></td>
					<td th:text="${searchResult.end_H}"></td>
					<td th:text="${searchResult.end_M}"></td>
					<td th:text="${searchResult.total_workingTime}"></td>
					<td th:text="${searchResult.breakTime}"></td>
					<td th:text="${searchResult.excessTime}"></td>
					<td>
						<input type="button" value="編集" class="btn">
					</td>
				</tr>
			</div>
		</table>
	</div>
</body>

</html>